<!DOCTYPE html>
<html>

<head>
  <title>Sign in</title>
</head>

<body>
  <h1>My crossfit workout diary</h1>

  <h2>Workouts done by {{ session.username }}:</h2>
  <ul>
    {% for workout in workouts %}
    <li><a href="/workout/{{ workout.id }}"> WOD {{ workout.workout_date }}</a></li>
    {% endfor %}
  </ul>
  <p>
    {{ session.username }}'s user identification code: {{ session.user_id }}
  </p>
  <p>
    <a href="/new_workout"> New workout</a>
  </p>
  <p>
    <a href="/logout">Logout</a>
  </p>
</body>

</html>
