<!DOCTYPE html>
<html>

<head>
  <title>Sign in</title>
</head>

<body>
  <h1>My crossfit workout diary</h1>

  <h2>Workouts done by {{ session.username }}:</h2>
  <ul>
    {% for log in logs %}
    <li><a href="/log/{{ log.id }}"> Training on {{ log.log_date }}: {{ log.log_text }} </a></li>
    {% endfor %}
  </ul>
  {% if session.is_coach==1 %}
  <h2>Workouts created by {{ session.username }}:</h2>
  <ul>
    {% for workout in user_workouts %}
    <li><a href="/workout/{{ workout.id }}">WOD {{ workout.workout_date }}</a></li>
    {% endfor %}
  </ul>
  <h2>All Workouts:</h2>
  <ul>
    {% for workout in workouts %}
    <li><a href="/workout/{{ workout.id }}">WOD {{ workout.workout_date }}</a></li>
    {% endfor %}
  </ul>
  <a href="/new_workout"> Create a new WOD</a>
  {% endif %}
  <p>
    <a href="/new_log"> Create a new training log</a>
  </p>
  <p>
    <a href="/logout">Logout</a>
  </p>
</body>
</html>
