<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>{% block title %}My Application{% endblock %}</title>
</head>

<body>
  <div class="header">
    <h1>Crossfit Workout Diary</h1>
  </div>

  <div class="content">
  {% block content %}{% endblock %}
  </div>

  <hr class="nav-divider">

  <div class="nav">
    <nav>
      <ul>
        <li><a href="/">Back to Diary</a></li>
        {% if session.is_coach == 1 %}
        <li><a href="/new_workout">Create a new WOD</a></li>
        {% endif %}
        <li><a href="/new_log">Create a new training log</a></li>
        <li><a href="/find_workout">Search for a WOD</a></li>
        {% if session.user_id %}
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">Log in</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</body>
</html>
