<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<h1>Track Workouts Of the Day (WOD)</h1>

<body>
  <p>Here you can track all the workouts that you do in the training center. 
    We are following a 4-week workout programming cycle, and every WOD is categorized accordingly. 
    There are 3 training weeks out of which the week 1 is the lightest and 3 hardest. Week 4 is a deload week. </p>

  {% if session.username %}
  <p>
    Signed in: {{ session.username }}
  </p>
  <p>
    <a href="/logout">Sign out</a>
  </p>
  {% else %}
  {% if error %}
  <p style="color:red;">{{ error }}</p>
  {% endif %}
  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Sign in" />
  </form>
  <form action="/register" method="get">
    <p>
      Or create a new user:
    </p>
    <input type="submit" value="Sign up" />
  </form>
  {% endif %}
</body>
</html>