<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<h1>Track Workouts Of the Day (WOD)</h1>

<body>
  <p>
    In this application you can log all the workouts that you do in the training center.</br></br>
    Our training center is following a 4-week workout programming cycle, and every Workout-of-the-Day (WOD) is categorized accordingly. 
    There are 3 training weeks out of which the week 1 is the lightest and 3 hardest. 
    Week 4 is always a deload week.
    The coaches can create and edit the workouts, but the workouts cannot be deleted.
    You can edit and remove your logs, and comment the WODs and cheer other people's achievements!
  </p>

  {% if session!=username %}
  {% if error %}
  <p style="color:red;">{{ error }}</p>
  {% endif %}
  <form action="/login" method="post">
    <p>
      <label for="username"><strong>Username:</strong></label><br/>
      <input type="text" id="username" name="username" required />
    </p>
    <p>
      <label for="password"><strong>Password:</strong></label><br/>
      <input type="password" id="password" name="password" required />
    </p>
    <input type="submit" value="Sign in"/>
  </form>
  <form action="/register" method="get">
    <p>
      Or create a new user:
    </p>
    <input type="submit" value="Sign up"/>
  </form>
  {% endif %}
</body>
</html>