<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<h1>Workout Of the Day (WOD) listing for our imaginary training center!</h1>

<body>
  <p>Here you can track all the workouts in our training center</p>
  {% if session.username %}
  <p>
    Signed in: {{ session.username }}
  </p>
  <p>
    <a href="/logout">Sign out</a>
  </p>
  {% else %}
  {% if error %}
  <p style="color:red;">{{ error }}</p>
  {% endif %}
  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Sign in" />
  </form>
  <form action="/register" method="get">
    <p>
      Or create a new user:
    </p>
    <input type="submit" value="Sign up" />
  </form>
  {% endif %}
</body>

</html>
