<!DOCTYPE html>
<html>
<head>
  <title>New Training Log</title>
</head>

<body>
  <h1>Create a new training log</h1>
  <form action="/new_log" method="post">
    <p>
      Select WOD: <br>
      <select name="workout_id" required>
      <option value="" disabled selected>Select a WOD</option>
      {% for wod in wods %}
        <option value="{{ wod.id }}"
        {% if selected_wod and selected_wod.id == wod.id %}selected{% endif %}>
          WOD {{ wod.workout_date }}
        </option>
      {% endfor %}
      </select>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
    <input type="submit" name="select_wod" value="Show WOD Details">
  </form>

  {% if selected_wod %}
    <h3>WOD Details</h3>

    <p><strong>Warmup:</strong> {{ selected_wod.warmup_description }}</p>
    <p><strong>WOD:</strong> {{ selected_wod.wod_description }}</p>
    <p><strong>Extras:</strong> {{ selected_wod.extras_description }}</p>

  <form action="/new_log" method="post">
    <input type="hidden" name="workout_id" value="{{ selected_wod['id'] }}">
    <p><strong>Date I did this WOD: </strong><br>
        <input type="date" name="log_date" required>
    </p>
    <p> <strong>Notes and Results: </strong><br>
        <textarea name="log_notes" rows="5" cols="50" maxlength="150" wrap="hard"required></textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
    <input type="submit" name="save_log" value="Save Log">
  </form>
  {% endif %}
  <form action="/" method="get" style="margin-top:10px;">
    <input type="submit" value="Cancel">
  </form>
</body>
</html>