<!DOCTYPE html>
<html>

<head>
  <title>Register a new user</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <h1> Sign up as a new user </h1>
  {% if error %}
  <p style="color:red;">{{ error }}</p>
  {% endif %}
  
  <form action="/create" method="post">
    <p><strong>Username</strong> must be between 3 and 20 characters long and can only contain alphanumeric characters and underscores.</p>
    <p><strong>Password</strong> must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character.</p>
    <p>
      <label for="username"><strong>Username:</strong></label><br />
      <input type="text" id="username" name="username" required />
    </p>
    <p>
      <label for="is_coach"><strong>Assign user also the role of a coach:</strong></label><br />
      <input type="checkbox" id="is_coach" name="is_coach" value="1">
    </p>
    <p>
      <label for="password1"><strong>Password:</strong></label><br />
      <input type="password" id="password1" name="password1" required />
    </p>
    <p>
      <label for="password2"><strong>Re-enter password:</strong></label><br />
      <input type="password" id="password2" name="password2" required />
    </p>
    <input type="submit" value="Create user" />
  </form>
  <form action="/" method="get" style="margin-top:10px;">
    <input type="submit" value="Cancel">
  </form>
</body>

</html>
