{% extends 'layout.html' %}

{% block title %}Show Workout{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash-messages">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<h2>Workout of the Day for {{ workout.workout_date }} (Programming: {{ programming.programming_week }})</h2>

{% if session.is_coach == 1 %}
<p>
  <a href="/edit_workout/{{ workout.id }}">Edit Workout</a> or 
{% endif %}
  <a href="/add_log/{{ workout.id }}">Add this workout to the training log</a>
</p>

<p><strong>Warm up:</strong><br>{{ workout.warmup_description | show_lines }}</p> 
<p><strong>WOD:</strong><br>{{ workout.wod_description | show_lines }}</p> 
<p><strong>Extras:</strong><br>{{ workout.extras_description | show_lines }}</p> 

{% if workout.workout_image %}
<img src="{{ url_for('static', filename='uploads/' + workout.workout_image) }}" alt="Workout Image" style="max-width: 80%; height: auto;">
{% else %}
<p>No image available for this workout.</p>
{% endif %}

<p><strong>Results for this WOD:</strong></p>
{% if results %}
<ul>
  {% for result in results %}
  <li>
    {% if result.user_id == session.user_id %}
    <strong>My result on {{ result.log_date }}</strong>: {{ result.log_text | show_lines }}
    <span>({{ result.likes_count }} like on this activity)</span>
    <form action="{{ url_for('like_result', log_id=result.id) }}" method="post">
      {% if result.user_has_liked %}
      <button type="submit">Unlike</button>
      {% else %}
      <button type="submit">Like</button>
      {% endif %}  
    </form>
    {% endif %}
  </li>
  {% endfor %}
</ul>

<ul>
  {% for result in results %}
  <li>
    {% if result.user_id != session.user_id  %}
    <strong>{{ result.username }} on {{ result.log_date }}</strong>: {{ result.log_text | show_lines }}
    <span>({{ result.likes_count }} likes)</span>
    <form action="{{ url_for('like_result', log_id=result.id) }}" method="post">
      {% if result.user_has_liked %}
      <button type="submit">Unlike</button>
      {% else %}
      <button type="submit">Like</button>
      {% endif %}  
    </form>
    {% endif %}
  </li>   
  {% endfor %}
</ul>

<div class="pagination">
  <p>
    {% if page_results > 1 %}
      <a href="{{ url_for('show_workout', workout_id=workout.id, page_results=page_results - 1) }}">&lt;&lt;</a>
    {% endif %}
    Page {{ page_results }} / {{ (total_results + per_page - 1) // per_page }}
    {% if results|length == per_page and (page_results * per_page) < total_results %}
      <a href="{{ url_for('show_workout', workout_id=workout.id, page_results=page_results + 1) }}">&gt;&gt;</a>
    {% endif %}
  </p>
</div>
{% else %}
<p>No-one has completed this WOD. Be the first one to do it!</p>
{% endif %}


<h3>Comments about the WOD</h3>
{% if comments %}
<ul>
  {% for comment in comments %}
  <li>
    <strong>{{ comment.username }}</strong>: {{ comment.comment_text }}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No comments yet. Be the first one to comment!</p>
{% endif %}

<form method="post" action="/workout/{{ workout.id }}">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <label for="comment_text"><strong>Add your comment:</strong></label><br>
  <textarea id="comment_text" name="comment_text" rows="3" cols="40" placeholder="Write your comment" maxlength="150" wrap="hard"></textarea><br>
  <input type="submit" value="Add comment" style="margin-bottom: 10px;" />
</form>

{% endblock %}
