<!DOCTYPE html>
<html>

<head>
  <title>{{log.username}}'s training log on {{log.log_date}}</title>
</head>

<body>
  <h1> {{log.username}}'s training log on {{log.log_date}}</h1>
  <h2> {{log.workout_date}} Workout of the Day </h2>
  
  <p><strong>Warmup:</strong> {{ log.warmup_description }}</p> 
  <p><strong>WOD:</strong> {{ log.wod_description }}</p> 
  <p><strong>Extras:</strong> {{ log.extras_description }}</p>
  <p><strong>Results:</strong> {{ log.log_text }}</p>
  <p>
    <a href="/"> Back to {{ log.username }}'s diary</a>
  </p>
  <p>
    <a href="/edit_log/{{ log.id }}"> Edit log </a>
  </p>
    <p>
    <a href="/remove_log/{{ log.id }}"> Remove log </a>
  </p>
</body>

</html>

